.content {
    height: 550px;
    border: none;
}

nav {
    height: 80px;

}

.navbar {
    margin-top: -2px;
    width: 100%;
    z-index: 100;
}
.btn{
    border: none;
    background-color:#F0F0F0;
    color: black;
}
.btn:hover{
    color: black;
    background-color: rgb(209, 209, 209);
}
li a {
    color: black !important;
    margin-left: 40px;
    font-size: 30px;
}

li a:hover {
    background-color: rgb(209, 209, 209);

}

.navbar-toggler {
    background-color: lightgray;
}

.nav-link {
    padding: 20px;
    
}
.navbar-brand{
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.container-fluid {
    background-color:#FAF8F4;
}
nav .container-fluid {
    border-bottom: 1px solid black;
}

#icon{
    width: 25%;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
    font-family: DFKai-sb;
    color: black;
}


#under {
    background-color: #FAF8F4;
    height: 95px;
    color: white;
    font-size: 30px;
    line-height: 95px;
    border: none;
}
.col-sm-2{
    border-right: 1px black solid;
}
.sidenav {
    padding-top: 20px;
    background-color: #f0f0f0;
}


.sidenav a {
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 22px;
}


.page {
    background-color: #f0f0f0;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.page a{
    font-weight: bolder;
    font-size: 20px;
}

.page:hover {
    background-color: rgb(209, 209, 209);;
    transition: 1s;
}

.main-content {
    background-color: #f0f0f0;
}

.main-content h1 {
    text-align: center;
    margin-top: 20px;
}

.ad {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgb(97, 97, 97);
    border-radius: 10px;
}
.voicegame{
    width: 100%;
    height: 400px;
}

iframe{
    width: 100%;
    text-align: center;
    height: 320px;
}
@media (max-width:1280px) {
}
@media (max-width:992px) {
    .navbar{
        margin-top: -10px;
    }
}
@media (max-width:576px) {
    .main-content {
        height: 365px;
    }

    .container-fluid {
        background-color:#FAF8F4;
        width: 100%;
    }
    .col-sm-2{
        border-right: 0px black solid;
        border-bottom: 1px black solid;
    }
    .sidenav {
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .content {
        width: 100%;
        height: 750px;
        margin-left: auto;
        margin-right: auto;
    }
    .page {

        padding: 0;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }
    nav {
        height: 80px;
        width: 200px;
    }
    .nav-link {
        padding: 10px;
    }
    .row {
        width: 350px;
    }
    .input-group {
        padding-left: 50px;
        padding-bottom: 20px;
    }
    iframe{
        width: 100%;
        text-align: center;
        height: 200px;
    }
    .voicegame{
        width: 100%;
        height: 300px;
    }
}